a {
  cursor: pointer;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  z-index: 2;
}

header nav {
  position: relative;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5); /* nero semi-trasparente */
}
.Logo {
  font-size: 20px;
}

.Link {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.Link a {
padding: 10px 15px;
text-align: center;
font-size: 20px ;
flex-grow: 1; 
margin-left: 10px;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 20px;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  margin-right: 20px;
  color: #8b5e3c;
}

.menu-dropdown {
  display: none;
  flex-direction: column;
  background-color: rgba(142, 116, 89, 0.9);
  padding: 20px;
  position: absolute;
  width: 200px;
  top: 56px;
  z-index: 10;
  margin-left: 400px;
}

.menu-dropdown a {
  color: white;
  padding: 10px 0;
  border-bottom: 1px solid rgb(115, 78, 65);
}

.menu-dropdown.active {
  display: flex;
}
.link_dropdown {
  display: none;
  position: absolute;
  margin-top: 45px; 
  width: 700px;
  margin-left: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 20px;
}

.link_interni {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* Cambiato da column a row per disposizione orizzontale */
  justify-content: space-between;
  width: 100%;
}

.link_colonna {
  display: flex;
  flex-direction: column;
  width: 30%; /* Regola questa percentuale in base alle tue esigenze */
  margin-bottom: 15px;
}

.link_colonna a {
  font-size: 16px;
  text-align: left;
  color: black;
  padding: 8px 0;
  text-decoration: none;
  margin-top: 3px;
}
.link_colonna p {
  font-size: 16px;
  text-align: left;
  color: black;
  text-decoration: none;
}
.link_colonna a:hover {
  color: #555; /* Cambia colore al hover se desiderato */
}

.link_dropdown.active {
  display: flex;
}
.button {
  background-color: #8b5e3c;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 25px;
  text-align: center;
  height: 25px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.UFFIZI {
  background-image: url("Uffizi2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
  z-index: -2;
  color: white;
  text-align: left;
  font-size: 25px;
  padding: 100px 30px;
  padding-left: 50px;
}
.Link_info, .Link_info_inizio {
  display: flex;
  border: 1px solid gray;
  justify-content: space-between;
  width: 100%;
}
.Link_info_inizio a {
  padding: 10px 5px;
  font-size: 15px;
  text-align: center;
  flex-grow: 1;
  margin-left: 15px;
}
.Link_info a {
  padding: 10px 5px;
  text-align: center;
  font-size: 15px;
  flex-grow: 1;
  margin-left: 5px;
}

.Informazioni {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 40px;
  width: fit-content;
  text-align: left;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Lora', serif;
}

h2 {
  padding: 5px 10px;
  border-bottom: 1px solid gray;
}

.Temi_collezioni {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid grey;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Singola_collezione {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  text-align: left;
  width: 240px;
  height: 360px;
  margin-bottom: 20pxs;
  justify-content: center;

}

.Singola_collezione a {
  padding-top: 10px;
  text-align: left;
  font-size: 20px;
  flex-grow: 1;
  margin-left: 10px;
  margin-bottom: 20px;
}
.collezione-img {
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 9px;
}

.Singola_collezione a {
  padding: 10px 5px;
  text-align: center;
  font-size: 20px;
  flex-grow: 1;
  margin-left: 1px;
}

.Singola_collezione p {
  flex-grow: 1;
  text-size-adjust: 10px;
}
#opere-view {
  display: flex;
  flex-wrap: wrap;
}

#opere-view .opere {
  margin: 10px;
  border: 1px solid slategray;
  padding: 5px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
}

#opere-view img {
  max-width: 100%;
}
.Tipo_info {
  padding: 20px;
  margin: 20px;
  margin-bottom: -40px;
}

.Tipo_info p {
  flex-grow: 1;
  margin-left: 10px;
  
} 
#elencodate {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 4px;
}
#elencodate p {
  margin: 8px 0;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}


  .motivifesta{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .festivita {
    font-weight: bold;
    color: #333;
  }
  
  .datechiusura {
    color: #555;
  }
 
.tipo_biglietto {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-left: 5px solid grey;
}

.tipo_biglietto a {
  flex-grow: 1;
  margin-left: 10px;
}

.Newsletter {
  background-image: url("venere.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 150px;
  margin: 50px;
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}

.Avvisi {
  padding: 20px;
  margin: 20px;
  margin-bottom: -40px;
  flex-grow: 1;
  border-bottom: 1px solid gray;
  justify-content: center;
  align-items: center;
}

.avviso {
  padding: 10px;
  width: 250px;
  height: auto;
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
  background: white;
  margin: 10px 10px;
  border-left: 5px solid grey;
  border-radius: 5px;

}

.avviso a {
  flex-grow: 1;
  margin-left: 10px;
  justify-content: center;
}

.Altre_info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid grey;
  justify-content: center;
  align-items: center;
}

.info_plus {
  padding: 20px;
  border-radius: 6px;
  text-align: left;
  width: 100px;
  height: 130px;
  margin-bottom: 20pxs;
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px;

}
div.accessibilità, div.scuola, div.famiglie, div.educazione,div.guide, div.studiosi{
background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin-bottom: 9px;
}
div.accessibilità {
  background-image: url("accessibilità.jpg");
}

div.scuola {
  background-image: url("scuola.jpg");
}

div.famiglie {
  background-image: url("famiglie.jpg");
}

div.educazione {
  background-image: url("educazione.jpg");
}

div.guide {
  background-image: url("guide.jpg");
}

div.studiosi {
  background-image: url("studiosi.jpg");
}

.Altre_info a {
  padding: 10px 5px;
  text-align: center;
  font-size: 15px;
  flex-grow: 1;
  margin-left: 1px;
}

.footer {
  text-align: left;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Link_fine {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.Link_fine a {
  padding: 10px 15px;
  text-align: left;
  font-size: 15px;
  flex-grow: 1;
  margin-left: 10px;
  margin-bottom: -15px;
}

@media (max-width: 780px) {
  header {
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
  }

  .button {
   margin-top:50px;
  }

  .Link {
    display: none;
    flex-direction: column;
    width: 100px;
  }

  .Link a {
  font-size: 10px;
 }

.menu-icon {
  display: block;
}

  .UFFIZI {
    padding: 80px 20px;
    text-align: center;
    height: 150px;
    font-size: 20px;
  }

  .Informazioni {
    margin-top: -15px;
    margin-bottom: -15px;
    padding: 40px;
    font-size: 12px;
  }
  .Link_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .Link_info_inizio {
    display: none;
  }
  .Link_info a{
    font-size: 12px;
    margin-top: -6px;
  }
  .Temi_collezioni {
    gap: 20px;
  }

  .Singola_collezione {
    width: 50%;
    height: max-content;
    margin-bottom: 15px;
  }

  .collezione-img{
    height: 350px; 
  }

  .Singola_collezione p {
    font-size: 0px;
  }

  .Tipo_info {
    padding: 10px;
    margin: 10px;
    margin-bottom: -40px;
    font-size: 15px;
  }
  .Tipo_info h2{
    font-size: 20px;;
  }
  .Tipo_info p{
    font-size: 15px;
  }
  .tipo_biglietto a {
    font-size: 15px;
  }
  .tipo_biglietto p{
    font-size: 15px;
  }
  .tipo_biglietto h3{
    font-size: 18px;
    margin-top: -5px;
  }

  .Newsletter {
    height: 100px;
    margin: 30px;
    margin-bottom: -15px;
    font-size: 15px;
    padding-top: 10px;
  }

  .Newsletter a {
    color: #f5f5f5;
  }

  .Avvisi {
    padding: 10px;
    margin: 15px;
    margin-bottom: -30px;
    height: 300px;
    font-size: 15px;
  }

  .avviso {
    width: 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .avviso a {
    font-size: 10px;
  }

  .Altre_info {
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }

  .info_plus {
    padding: 10px;
    height: 10px;
    justify-content: left;
    margin-top: -5px;
  }
  
  .info_plus a{
    font-size: 10px;
  }

  div.accessibilità,div.scuola, div.famiglie,  div.educazione ,  div.guide,   div.studiosi {
    display: none;
  }

  .Altre_info a {
    padding: 3px;
    text-align: left;
  }
  
  footer {
    display: block;
    text-align: center;
    padding: 20px;
  }
  
  .footer .Logo {
    text-align: left;
    margin-bottom: 10px;
    margin-top: -70px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .Link_fine {
    margin-left: 0;
    margin-top: -20px;
  }

  .footer .Link_fine a {
    font-size: 10px;
    margin: 5px 0;
    margin-top: -30px;
  }
}